.sound {
    width: 183px;
    margin: 0 auto;
}
.sound a {
    color: #fff;
    opacity: .4
}

.credits {
    width: 414px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
}

.credits a {
    color: #fff;
}

.information {
    display: inline-block;
    margin-bottom: 7px;
}

.display {
    font-family: 'VT323', 'Arial', 'sans-serif';
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #4A5E47;
}

.money-stats .tiny-description {
    font-size: 12px;
    position: relative;
    top: -1px;
    width: 114px;
    display: inline-block;
}

.money-stats {
    position: relative;
    color: #191F18;
    background-color: #008000;
    border: 1px inset #83AF83;
    width: 256px;
}

.money-stats .amount {
    position: absolute;
    right: 10px;
    font-size: 25px;
}

.stats {
    font-size: 16px;
    border-radius: 3px;
    padding: 2px 7px 5px;
    display: inline-block;
    vertical-align: top;
    height: 26px;
}

.general-stats {
    margin-right: 10px;
    background-color: #548EA0;
    border: 1px inset #9BBFD3;
    padding-top: 6px;
    padding-bottom: 0;
    width: 650px;
}

.general-stats .stat {
    display: inline-block;
    width: 85px;
    margin-top: 1px;
    min-width: 85px;
    text-align: center;
}

.general-stats .stat.motherlodium {
    visibility: hidden;
}

.general-stats .stat.motherlodium.uncovered {
    visibility: visible;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #000;
}

.controls {
    background-color: #C9C9C9;
    margin-top: -4px;
    padding: 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notification {
    border: 4px outset #89B96E;
    background-color: #527E3A;
    padding: 5px;
    font-weight: 800;
    color: rgba(214, 214, 214, 0.7);
}

.notification.resource {
    border: 4px outset #9B842A;
    background-color: #9C7842;
}

.notification.killed {
    border: 4px outset #FF8888;
    background-color: #FF0000;
}

.notification.ad {
    border: 4px outset #71DADA;
    background-color: #B0E4E4;
    color: black;
}

.notification.alert {
    border: 4px outset #994C7A;
    background-color: #7E3A63;
}

.title-container {
    background-color: #C9C9C9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
}

.title {
    border: 7px inset #FFF;
    background-color: #1B3B64;
    border-radius: 12px;
    color: #FFF;
    width: 850px;
    margin: 0 auto;
    font-size: 11px;
    padding-bottom: 8px;
}

#game {
    border-radius: 10px;
    background: #021E2D;
    width: 1000px;
    margin: 0 auto;
}

#messages {
    position : absolute;
    bottom : 207px;
    left : 25px;
    width : 25px;
    cursor : pointer;
}

#messages img {
    position : absolute;

    top : -20px;
}

#menu {
    position: fixed;
    font-weight: 300;
    width: 980px;
    height: 290px;
    padding: 10px;
    background: linear-gradient(#060D22, #021E2D);
    border-radius: 5px;
}

#mainCanvas {
    margin-top: 304px;
    background-color: #060D22;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.level-select {
    text-align: center;
    background-color: #3A4F6B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 12px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
}

.level-select .level {
    padding: 3px;
}

.level-select .level:hover {
    cursor: pointer;
    background-color: #757D9B;
    border-radius: 3px;
}

.robot-shop {
    text-align: center;
    border: 4px inset #FFF;
    background-color: #40536B;
    border-radius: 9px;
    width: 940px;
    padding: 3px;
    color: #FFF;
    font-size: 19px;
    display: inline-block;
    height: 77px;
    vertical-align: top;
}

.robot-container {
    display: inline-block;
    max-width: 180px;
    width: 180px;
    text-align: center;
}

.robot-container.badgerBot {
    display: none;
}

.robot-container .money {
    width: 92px;
    display: inline-block;
    text-align: center;
    padding: 1px 0 3px;
    border: 4px outset #BDBDBD;
    border-radius: 10px;
    background-color: #8B8B8B;
}

.robot-container:hover {
    opacity: 1;
}

.robot-shop .robot {
    padding: 1px 3px;
    margin: 1px 1px;
    margin-right: 15px;
    height: 20px;
    display: inline-block;
    border-radius : 6px;
}

.robot-shop .robot:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #222;
}

.robot-shop .robot::first-letter {
    color: yellow;
}

.badgerBot .robot::first-letter {
    color: #fff;
}

.robot-shop .robot:hover::first-letter {
    color: #222;
}

.robot-shop .images {
    position: relative;
}

.robot-shop .upgradeCost {
    pointer-events: none;
    position: absolute;
    top: 12px;
    width: 40px;
}

.robot-shop .upgradeCost.lvl2 {
    left: 69px;
}

.robot-shop .upgradeCost.lvl3 {
    left: 125px;
}

.robot-shop .unlockMessage {
    visibility: hidden;
}

.robot-shop img {
    vertical-align: bottom;
    margin-right: 3px;
    background-color: #996161;
    border-radius: 5px;
    padding: 3px;
    height: 46px;
    width: 46px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.robot-shop img.current:hover, .robot-shop img.upgradeEnabled:hover {
    border: 2px solid white;
    cursor: pointer;
}

.robot-shop img.unused {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

.robot-shop .robot-container.disabled {
    position: relative;
    top: -62px;
    background: #514E64;
    padding: 15px 0;
    border-radius: 5px;
    opacity: .4;
}

.robot-shop .robot-container.disabled .robot {
    display: none;
}

.robot-shop .robot-container.disabled .upgrade {
    display: none;
}

.robot-shop .robot-container.disabled .images {
    display: none;
}

.robot-shop .robot-container.disabled .unlockMessage {
    visibility: visible;
}

.title .title-text {
    margin: 0;
}

.printer {
    width: 700px;
    height: 5px;
    background-color: #7A7575;
    box-shadow: inset 1px 1px 1px #575757;
    border-radius: 5px;
    margin: 7px auto 0px;
}

.printout {
    border-top: 2px solid #92ADB8;
    top: 100px;
    color: #4D4D4D;
    position: absolute;
    background-color: #FFF;
    width: 670px;
    left: 50%;
    margin-left: -335px;
    z-index: 1000;
    display: none;
}

#asteroidButton {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}

#asteroidButton:hover, #messages img:hover {
    opacity: 0.5 !important;
}

#menu.shrunk .printer {
    margin-top: -3px;
}

#menu.shrunk .printout {
    top: 2px !important;
}

#menu.shrunk #modalyesno {
    margin-top: -100px;
}

#modalyesno {
    position: absolute;
    font-family: monospace;
    color: #4D4D4D;
    background-color: #FFF;
    width: 670px;
    left: 50%;
    margin-left: -335px;
    z-index: 1000;
    display: none;
    text-align: center;
}

#modalyesno a {
    margin: 0 100px;
    cursor: pointer;
    text-decoration: underline;
}

#modalyesno a:hover {
    text-decoration: none;
}

.robot-container div.images.shrunk {
    display : none;
}

.robot-container div.robot-button.shrunk {
    top: -44px;
}

.robot-shop.with-badger .lvl1, .robot-shop.with-badger .lvl2 {
    display: none !important;
}

.robot-shop.with-badger .robot-container {
    width: 140px;
    max-width: 140px;
}

.robot-shop.with-badger .robot-container.badgerBot {
    display: inline-block;
}

.robot-shop.with-badger .robot-button {
    top: -65px !important;
    margin-right: 24px;
}

.shrunk .robot-shop.with-badger div.robot-button {
    display: none;
}

#circle {
    position: absolute;
    bottom: 16px;
}

#muteButton {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    opacity: .8;
}

#musicMuteButton {
    position: absolute;
    right: 5px;
    top: 25px;
    cursor: pointer;
    opacity: .8;
}
