.sound {
    width: 80px;
    margin: 0 auto;
}
.sound a {
    color: white;
}

.information {
    display: inline-block;
    width: 220px;
}

.display {
    font-family: 'VT323', '';
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #4A5E47;
}

.money-stats .tiny-description {
    font-size: 12px;
    position: relative;
    top: -4px;
    width: 80px;
    display: inline-block;
}

.money-stats {
    margin-top: 5px;
    color: #191F18;
    background-color: #008000;
    border: 2px inset #83AF83;
}

.money-stats .amount {
    float: right;
    font-size: 25px;
}

.general-stats {
    background-color: #548EA0;
    border: 2px inset #9BBFD3;
}

.stats {
    width: 200px;
    font-size: 16px;
    border-radius: 3px;
    padding: 7px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #000;
}

.controls {
    background-color: #C9C9C9;
    margin-top: -4px;
    padding: 10px 57px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notification {
    border: 4px outset #89B96E;
    background-color: #527E3A;
    padding: 5px;
    font-weight: 800;
    color: rgba(214, 214, 214, 0.7);
}

.notification.iron {
    border: 4px outset #9B842A;
    background-color: #9C7842;
}

.alert {
    border: 4px outset #994C7A;
    background-color: #7E3A63;
    padding: 5px;
    font-weight: 800;
    color: rgba(214, 214, 214, 0.7);
}

.title-container {
    background-color: #C9C9C9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
}

.title {
    border: 7px inset #FFF;
    background-color: #1B3B64;
    border-radius: 12px;
    color: #FFF;
    width: 850px;
    margin: 0 auto;
    font-size: 11px;
}

#game {
    width: 1000px;
    margin: 0 auto;
}

#menu {
    position: relative;
    font-weight: 300;
    width: 980px;
    height: 310px;
    padding: 10px;
    background-color: #060D22;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.robot-spawn {
    display: inline-block;
    vertical-align: top;
    width: 560px;
}

#mainCanvas {
    background-color: #060D22;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.robot-shop .upgrade {
    color: #A2A2A2;
}

.robot-shop .upgrade.enabled {
    color: #fff;
    cursor: pointer;
}

.robot-container {
    display: inline-block;
    max-width: 140px;
    text-align: center;
}

.robot-container .money {
    width: 92px;
    display: inline-block;
    text-align: center;
    padding: 1px 0 3px;
    border: 4px outset #BDBDBD;
    border-radius: 10px;
    background-color: #8B8B8B;
}

.robot-spawn .robot {
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 1px 0 3px;
    border: 4px outset #BDBDBD;
    border-radius: 10px;
    background-color: #8B8B8B;
}

.robot-container:hover {
    opacity: 1;
}

.level-select {
    text-align: center;
    background-color: #3A4F6B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 12px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
}

.level-select .level {
    padding: 3px;
}

.level-select .level:hover {
    cursor: pointer;
    background-color: #757D9B;
    border-radius: 3px;
}

.robot-shop {
    border: 4px inset #FFF;
    background-color: #40536B;
    border-radius: 9px;
    width: 625px;
    padding: 3px;
    color: #FFF;
    font-size: 19px;
    display: inline-block;
    height: 100px;
    vertical-align: top;
}


.robot-shop .robot {
    padding: 3px;
    height: 24px;
    display: inline-block;
}

.robot-shop .robot:hover {
    cursor: pointer;
    background-color: #FFF;
}

.robot-shop img {
    vertical-align: bottom;
    margin-right: 3px;
    background-color: #996161;
    border-radius: 5px;
    padding: 3px;
}

.title .title-text {
    margin: 0;
}
